<p>
  <b>Id:</b>
  <%=h @programmer.id %>
</p>

<p>
  <b>First name:</b>
  <%=h @programmer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @programmer.last_name %>
</p>


<%= link_to 'Edit', edit_programmer_path(@programmer) %> |
<%= link_to 'Back', programmers_path %>
